

#close{
  background-color: yellow;
 position: absolute;
margin-top: 200px;
right: 46%;
}



#closeyes{
  
 position: absolute;
margin-top: 170px;
right: 90%;
z-index: 1;
}  


.title1{
    left:48%;
    top:50px;
    width: 20px;
    height: 20px;
    background-color: black;
    margin: 0 auto;
    display: inline;
  }

.title2 {
        left:48%;
        top:50px;
        width: 10px;
        height: 10px;
        background-color: black;
        margin: 0 auto;
        display: inline;
      }

      .one{
        position:relative;
        width: 12%;
        height: 20px;
        background-color: black;
        margin-top: 20px;
        transition-duration: 0.8s;
      }

      .two{
        position:relative;
        width: 50%;
        height: 28px;
        background-color: black;
        margin-top: 20px;
      }

      .three{
        position:relative;
        width: 40%;
        height: 30px;
        background-color: black;
        margin-top: 20px;
      }

      .four{
        position:relative;
        width: 20%;
        height: 30px;
        background-color: black;
        margin-top: 20px;
      }

      #leftbox{
        position: fixed;
        width: 30%;
        height: 100vh;
        top: 0;
        left: 0;
        border-style: solid;
        border-color: black;
        z-index: 1;
      }



      #mailbox{
      position:fixed;
      width:40%;
      height:100vh;
      right:0;
      top:0;
      bottom:0;
      border-style: solid;
      border-color: black;
      z-index:3;
      }


      #rightbox{
        position: fixed;
        width: 30%;
        height: 10%;
        top: 30%;
        bottom: 50%;
        right: 5%;
        border-style: solid;
        border-color: grey;
        border-width: 0.5pt;
        border-radius: 25px;
        z-index: 6;

      }

      #rightbox{
        position: fixed;
        width: 30%;
        height: 10%;
        top: 30%;
        bottom: 50%;
        right: 5%;
        border-style: solid;
        border-color: grey;
        border-width: 0.5pt;
        border-radius: 25px;
        z-index: 1;

      }

      #red1{
      position: fixed;
        width: 500px;
        height: 400px;
        border-style: solid;
        background-color: white;
        border-width: 1px;
        transition-delay: 0.25s;
        right:10%;
      }

      #red2{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        border-width: 1px;
        transition-delay: 0.5s;
        top:20%;
      }

      #red3{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        border-width: 1px;
        transition-delay: 0.75s;
        right:20%;
        top:30%;

      }

      #red4{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        border-width: 1px;
        border:1px;
        transition-delay: 1s;
        right:40%;
        top:40%;
        bottom:50%;
      }


      #red5{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        border-width: 1px;
        transition-delay: 1.25s;
        right:5%;
        top:50%;
        bottom:20%;
      }

      #red6{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        border-width: 1px;
      z-index:3;
        transition-delay: 1.5s;
        right:70%;
        top:60%;
      }

      #red7{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        border-width: 1px;
      z-index:3;
        transition-delay: 1.75s;
        right:10%;
        bottom:90%;

      }
      #red8{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 2s;
        right:15%;
        bottom:85%;

      }


      #red9{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 2.15s;
        right:20%;
        bottom:80%;

      }

      #red10{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 2.3s;
        right:25%;
        bottom:10%;

      }

      #red11{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        border-width: 1px;
      z-index:3;
        transition-delay: 2.45;
        right:60%;
        bottom:60%;

      }

      #red12{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 2.6s;
        right:15%;
        bottom:65%;

      }

      #red13{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 2.75s;
        right:20%;
        bottom:70%;

      }

      #red14{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 2.9s;
        right:60%;
        bottom:40%;

      }

      #red15{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 3s;
        right:50%;
        bottom:50%;
      }

      #red16{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 3.05s;
        right:55%;
        bottom:45%;
      }


      #red17{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 3.1s;
        right:60%;
        top:40%;

      }



      #red18{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 3.15s;
        right:65%;
        bottom:35%;

      }

      #red19{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 3.2s;
      left:20%;
        bottom:30%;

      }

      #red20{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 3.25s;
        right:75%;
        bottom:90%;


      }
      #red21{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        border-width: 1px;
      z-index:3;
        transition-delay: 3.35s;
        right:80%;
        bottom:20%;

      }

      #red22{
      position: fixed;
      background-color: white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        border-width: 1px;
      z-index:3;
        transition-delay: 3.45s;
        right:85%;
        bottom:15%;

      }

      #red23{
      position: fixed;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 3.5s;
      left:25%;
        bottom:30%;

      }

      #red24{
      position: fixed;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 3.55s;
        right:90%;
        bottom:10%;

      }

      #red25{
      position: fixed;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 3.6s;
        bottom:50%;
      right:20%;

      }

      #red26{
      position: fixed;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
        z-index:3;
        transition-delay: 3.65s;
        bottom:75%;
        left:15%;

      }

      #red27{
      position: fixed;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 3.7s;
        bottom:20%;
        left:20%;

      }

      #red28{
      position: fixed;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color: white;
        border-width: 1px;
        z-index:3;
        transition-delay: 3.75s;
        bottom:75%;
        left:90%;

      }

      #red29{
      position: fixed;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 3.8s;
        bottom:74%;
        left:33%;

      }

      #red30{
      position: fixed;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color: white;
        border-width: 1px;
      z-index:3;
        transition-delay: 4.35s;
        bottom:25%;
        left:77%;

      }

      #red31{
      position: fixed;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 3.9s;
        bottom:10%;
        left:20%;

      }

      #red32{
      position: fixed;
      background-color:white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        border-width: 1px;
        transition-delay: 4s;
        bottom:55%;
        right:45%;

      }

      #red33{
      position: fixed;
      background-color:white;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        border-width: 1px;
        transition-delay: 4.05s;
        bottom:38%;
        left:15;

      }

      #red34{
      position: fixed;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 4.1s;
        bottom:45%;
        right:55%;



      }

      #red35{
      position: fixed;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:3;
        transition-delay: 4.15s;
        bottom:23%;
        left:75%;

      }

      #red36{
      position: fixed;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color: white;
        border-width: 1px;
      z-index:3;
        transition-delay: 4.25s;
        bottom:35%;
        right:65%;

      }

      #red37{
      position: fixed;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color: white;
        border-width: 1px;
      z-index:3;
        transition-delay: 4.3s;
        bottom:30%;
        left:10%;

      }

      #red38{
      position: fixed;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color:white;
        border-width: 1px;
      z-index:5;
        transition-delay: 3.85s;
        bottom:65%;
        left:35%;
      }



      #red39{
      position: fixed;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color: white;
        border-width: 1px;
      z-index:3;
        transition-delay: 4.4s;
        bottom:21%;
        right:80%;
        z-index:3;

      }

      #red40{
      position: fixed;
        width: 500px;
        height: 400px;
        border-style: solid;
        border-color: grey;
        background-color: white;
        border-width: 1px;
      z-index:3;
        transition-delay: 4.45s;
        bottom:70%;
        left:25%;

      }

      .container {
  margin: 100px;
}

.box {
    background: red;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    height: 1px;
    margin: 50px;
    width: 1px;

  }

.container:hover .box {
  transform: scale(600);
}

.box1 {
  transition: all 1.3s;
  z-index: 1;
}

.box2 {
  transition: all 1.3s 0.5s;
  z-index: 2;
}

.box3 {
  transition: all 1.3s 1s;
  z-index: 2;
}
.box4 {
  transition: all 1.3s;
  z-index: 2;
}

.box5 {
  transition: all 1.3s 1s;
  z-index: 2;
}

.box6 {
  transition: all 1.3s 1s;
  z-index: 3;
}
.box7 {
  transition: all 1.3s;
}

.box8 {
  transition: all 1.3s 1s;
}

.box9 {
  transition: all 1.3s 1s;
}
.box10 {
  transition: all 1.3s;
}

.box11 {
  transition: all 1.3s 1s;
}

.box12 {
  transition: all 1.3s 1s;
}
.box13 {
  transition: all 1.3s;
}

.box14 {
  transition: all 1.3s 1s;
}

.box15 {
  transition: all 1.3s 1s;
}

.box16 {
  transition: all 1.3s 1s;
}
.box17 {
  transition: all 1.3s;
}

.box18 {
  transition: all 1.3s 1s;
}

.box19 {
  transition: all 1.3s 1s;
}
.box20 {
  transition: all 1.3s;
}



 .container {
margin: 100px;

}

.box {
background: red;
display: inline-block;
height: 0.4px;
margin: 60px;
width: 0.9px;
border-color: black;
border-width: 0.5px;

}

.container:hover .box {
transform: scale(700);
}

.box21 {
  transition: all 1.3s 0.5s ease-out;
}
.box22 {
  transition: all 70s 1s ease-in;
}

.box23 {
  transition: all 4s 1s ease-in;
}
.box24 {
  transition: all 80s ease-in;
}

.box25 {
  transition: all 1.3s 0.5s ease-in;
}

.box26 {
  transition: all 1.3s 1s ease-in;
}
.box27 {
  transition: all 20s ease-out;
}

.box28 {
  transition: all 700s ease-out;
}

.box29 {
  transition: all 1.3s 1s;
}
.box30 {
  transition: all 1.3s;
}
.box31 {
  transition: all 1.3s 0.5s ease-in;
}

.box32 {
  transition: all 1.3s 1s ease-in;
}
.box33 {
  transition: all 1.3s ease-in;
}

.box34 {
  transition: all 60s ease-out;
}

.box35 {
  transition: all 700s ease-out;
}

.box36 {
  transition: all 1.3s 1s ease-in;
}
.box37 {
  transition: all 700s ease-out;
}

.box38 {
  transition: all 40s 20s ease-out;
}

.box39 {
  transition: all  1s ease-out;
}
.box40 {
  transition: all 20s ease-out;
}
