







	#one {
      position: relative;
      width: 2000px;
      height: 10000px;
    }
    #one:before,
    #one:after {
      position: absolute;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: red;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
    #one:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }
}














