
#text {
	position: absolute;
	right: 20%;
	top:10%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}


.box {
  width: 200px;
  height:300px;
  border: 2px solid black;
  padding: 50px;
  margin: 20px;
}



#dates{
top:50%;
right: 36%;
      
}

#dates2{
top:70%;
right: 26%;
}

#dates3{
top:70%;
right: 66%;
}

#dates4{
top:20%;
right: 46%;
}




