#title {
	position:absolute;
	margin-left: 930px;
	margin-top: 5px;
	text-align:right;

}


#one {
	position:absolute;
	margin-top: 60px;
	height: 200px;
	width:100px;
	text-align:right;
	margin-left: 1000px;
}

#two {
	position:absolute;
	margin-top: 60px;
	height: 200px;
	width:100px;
	text-align:right;
margin-left: 1200px;
}



#three {
		position:absolute;
		margin-top: 60px;
		height: 200px;
		width:100px;
	    text-align:right;
	    margin-left: 800px;
	
}


#four {
	position:absolute;
	margin-top: 400px;
	width:450px;
	text-align:left;
	 margin-left: 100px;

}




